<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 page-container activity-page-container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div>
            <span class="activity-section-bounty"><i class="fa fa-trophy"></i> &nbsp;{{activity.bounty}}</span>
            <div class="activity-type activity-type-{{activity.type}}">
              <i class="fa fa-3x fa-circle"></i> <span class="activity-type">{{activity.type}}</span>
            </div>
          </div>
          <div class="row activity-section-primary-row">
            <div class="col-md-6">
              <h1 class="activity-section-title">{{activity.title}}</h1>
              <p class="activity-creator">
                by {{activity.creator.name}} &nbsp;<i class="fa fa-check-circle" ng-show="activity.verified"></i>
              </p>
            </div>
            <div class="col-md-4 text-right activity-attendees-container" ng-init="numFaces = 3">
              <div class="activity-attendees-image-container">
                <img class="img-circle user-thumbnail" ng-src="{{attendee.image}}" ng-repeat="attendee in activity.attendance | limitTo: 3">
              </div>
              <div ng-show="activity.attendance.length > numFaces">
                <em>and {{activity.attendance.length - numFaces}} other neighbour{{{
                  true: 's are',
                  false: ' is'
                }[activity.attendance.length - numFaces > 1]}} going</em>
              </div>
            </div>
            <div class="col-md-2 text-right">
              <button class="btn btn-success">JOIN</button>
            </div>
          </div>
          <hr/>
          <p>{{activity.address}}</p>
          <hr/>
          <h1>Discuss</h1>
          <hr/>
          <div ng-repeat="message in messages">
            <p>{{message.message}}</p>
            <p>at {{message.createdAt | time}}</p>
            <p>by {{message.author.name}}</p>
            <hr/>
          </div>
          <form>
            <textarea rows="1" class="form-control" id="message" ng-model="message.text"
              placeholder="Enter your message here"/><br/>
            <button class="btn btn-lg btn-primary" ng-click="sendMessage(message.text)" ng-disabled="message.text == null || message.text == ''">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
