@font-face {
  font-family: 'Ostrich Sans';
  font-weight: 300;
  src: url('./OstrichSans-Light.otf');
}

@font-face {
  font-family: 'Ostrich Sans';
  font-weight: 400;
  src: url('./OstrichSans-Medium.otf');
}

@font-face {
  font-family: 'Ostrich Sans';
  font-weight: 700;
  src: url('./OstrichSans-Black.otf');
}
