@import 'fonts';

$theme-pink:   #f13d75;
$theme-orange: #eb6642;
$theme-yellow: #f1cb08;
$theme-green:  #24cea9;
$theme-blue:   #44b6ff;
$theme-purple: #a16897;
$theme-gray: #aaa;

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  border: none;
  letter-spacing: 1px;
  min-width: 100px;
  text-transform: uppercase;

  &.btn-primary {
    background-color: $theme-blue;
  }

  &.btn-success {
    background-color: $theme-green;
  }

  &.btn-info {
    background-color: $theme-purple;
  }

  &.btn-warning {
    background-color: $theme-yellow;
  }

  &.btn-danger {
    background-color: $theme-pink;
  }
}

$nav-font-size: 22px;

.main-container {
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%), url('https://api.mapbox.com/styles/v1/sebastianquek/cipsbnqto0023ckngkhywj5v1/static/103.845483,1.328685,13.96,0.00,0.00/1280x800?access_token=pk.eyJ1Ijoic2ViYXN0aWFucXVlayIsImEiOiJjaXBzYm1peG0wMnNjZnRtMmg1dGo0enJyIn0.umExD9aqm4ctTOEp51iNPA&attribution=false');
  background-size: 100% 100%, 100% auto;
  background-position: center center, center bottom;
  background-attachment: fixed;
}

.page-container {
  background-color: #fff;
  min-height: calc(100vh - 50px);
}

%subheader {
  color: $theme-gray;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.navbar {
  border: none;
  margin-bottom: 0;
  font-size: $nav-font-size;
  letter-spacing: 2px;
}

.navbar-default {
  background-color: #fff;
  padding: 10px 10px 0;
  font-family: 'Ostrich Sans', sans-serif;

  .navbar-brand {
    color: #000;
    font-size: $nav-font-size;
    font-weight: 700;
    margin-left: 6px;

    .y {
      margin-left: -2px;
    }
  }
}

.activities-search-container {
  border-left: 1px solid $theme-gray;

  .input-group-addon {
    border: none;
    background: none;
    padding-left: 30px;
  }

  .activities-search {
    font-size: $nav-font-size;
    padding-left: 1px !important;
    letter-spacing: 2px;

    &, &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.explore-container {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00fffcfc',GradientType=0 ); /* IE6-9 */
  height: 300px;
  position: absolute;
  width: 100%;
}

.leaflet-bottom {
  display: none;
}

.activity-type-event {
  color: $theme-green;
}

.activity-type-games {
  color: $theme-pink;
}

.activity-type-favour {
  color: $theme-yellow;
}

.activity-type-buying {
  color: $theme-orange;
}

.activity-type-selling {
  color: $theme-purple;
}

.activity-type-background-event {
  background-color: $theme-green;
}

.activity-type-background-games {
  background-color: $theme-pink;
}

.activity-type-background-favour {
  background-color: $theme-yellow;
}

.activity-type-background-buying {
  background-color: $theme-orange;
}

.activity-type-background-selling {
  background-color: $theme-purple;
}

.animated-circle {
  opacity: 0.5;
  border-radius: 50%;

  -webkit-animation: LocoMarkerAnimation 2s ease-in-out infinite;
  -moz-animation: LocoMarkerAnimation 2s ease-in-out infinite;
  animation: LocoMarkerAnimation 2s ease-in-out infinite;

  @-webkit-keyframes LocoMarkerAnimation {
    0%, 100% {
      opacity: 0.5;
      width: 30px;
      height: 30px;
      margin-left: -15px;
      margin-top: -15px;
    }
    $max-width: 60px;

    50% {
      opacity: 0;
      width: $max-width;
      height: $max-width;
      margin-left: -$max-width/2;
      margin-top: -$max-width/2;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

$border-radius: 6px;
.activity-list-container {
  height: 100%;
  overflow-x: scroll;

  .activity-list-row {
    overflow-y: hidden;
    height: 100%;
    padding: 20px;
    width: 90000px;
  }
}

.activity-item {
  background-color: #fff;
  border-radius: $border-radius;
  display: inline-block;
  height: 275px;
  margin: 0 8px;
  overflow: hidden;
  position: relative;
  width: 200px;
  vertical-align: top;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
}

.activity-bounty {
  $margin: 15px;

  font-weight: 700;
  float: right;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: $margin;
  margin-top: $margin;
  color: $theme-blue;
}

.activity-creator {
  color: $theme-gray;
  font-size: 14px;
  font-style: italic;
}

.activity-item-title {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 26px;
}

.activity-type {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 4px;
  margin-top: 8px;
  text-transform: uppercase;
  vertical-align: top;
  font-size: 10px;
}

$section-padding: 20px;

.activity-item-top-section {
  border-bottom: 1px solid #eee;
  padding: 20px $section-padding 10px;
}

.activity-item-bottom-section {
  color: $theme-gray;
  font-weight: 300;
  padding: $section-padding;
  padding-top: 15px;
}

.activity-chevron-container {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  bottom: 0;
  border-radius: $border-radius;
  font-size: 11px;
  padding-bottom: 10px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.map {
  display: inline-block;
  float: left;
  height: calc(100vh - 50px);
  width: 100%;
}

.user-thumbnail {
  display: inline-block;
  width: 36px;
  margin-right: 5px;
}

.activity-page-container {
  margin-top: 40px;

  .activity-section-bounty {
    color: $theme-blue;
    float: right;
    font-size: 18px;
    font-weight: 700;
  }

  .activity-section-primary-row {
    margin-top: 30px;
  }

  .activity-details {
    border-top: 1px solid #eee;
  }

  .activity-section-title {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .activity-attendees-container {
    color: $theme-gray;
    text-align: right;
  }

  .activity-attendees-image-container {
    margin-bottom: 5px;
  }

  .activity-subsection {
    margin-bottom: 30px;
  }

  .activity-subsection-title {
    @extend %subheader 
  }

  #activity-map {
    width: 100%;
    height: 500px;
  }
}

.login-page {
  background-image: url('../images/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh);

  &:before {
    background: linear-gradient(315deg, #f13d75, #eb6642, #f1cb08, #24cea9, #44b6ff, #a16897, #44b6ff, #24cea9, #f1cb08, #eb6642, #f13d75);
    background-size: 2200% 2200%;
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;

    -webkit-animation: LocoAnimation 40s linear infinite;
    -moz-animation: LocoAnimation 40s linear infinite;
    animation: LocoAnimation 40s linear infinite;

    @-webkit-keyframes LocoAnimation {
      0%{background-position:4% 0%}
      50%{background-position:97% 100%}
      100%{background-position:4% 0%}
    }
    @-moz-keyframes LocoAnimation {
      0%{background-position:4% 0%}
      50%{background-position:97% 100%}
      100%{background-position:4% 0%}
    }
    @keyframes LocoAnimation {
      0%{background-position:4% 0%}
      50%{background-position:97% 100%}
      100%{background-position:4% 0%}
    }
  }

  .logo-board {
    $height: 200px;
    $width: 313px;
    background-image: url('../images/logo-board.png');
    background-size: $width $height;
    width: $width;
    height: $height;
    margin: 50px auto;
    margin-top: 100px;
    position: relative;

    .green-puck,
    .orange-puck,
    .pink-puck {
      position: absolute;
    }

    .orange-puck {
      height: 52px;
      width: 67px;
      left: 102px;
      top: 15px;
    }

    .green-puck {
      height: 47px;
      width: 67px;
      right: 49px;
      top: 64px;
    }

    .pink-puck {
      height: 52px;
      width: 67px;
      top: 70px;
      left: 97px;
    }
  }

  .login-title {
    color: #fff;
    font-family: 'Ostrich Sans', sans-serif;
    font-weight: 700;
    font-size: 96px;
    margin-right: -15px;
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;

    .y {
      margin-left: -8px;
    }
  }

  .sign-in-btn-container {
    $color: #999;
    $padding: 15px;

    color: $color;
    margin-top: 40px;

    .sign-in-btn {
      color: $color;
      border-left: 1px solid $color;
      font-weight: 300;
      width: 200px;
      text-transform: uppercase;

      span {
        display: inline-block;
        margin-left: -35px;
      }
    }

    .sign-in-fb-btn {
      color: $color;
    }
  }
}

.page-container.create-activity-container {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.form-horizontal .control-label {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 11px;
}

.form-control {
  border-radius: 2px;
  &:focus {
    border-color: $theme-green;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.2);
  }
}

select.form-control {
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

input[type="file"]:focus {
  outline: none;
}

.profile-container {
  padding-top: 60px;
  .profile-pic {
    border-radius: 50%;
  }
  .profile-name {
    text-align: center;
  }
  .profile-stats {
    color: $theme-blue;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    .stats-label {
      font-weight: 300;
    }
  }

  hr {
    margin: 32px 0;
  }

  .bottom-section {
    padding: 0 20px;
    .profile-section {
      margin-bottom: 30px;
    }
    .profile-subsection-title {
      @extend %subheader
    }
    .profile-personal-info {
      *:nth-child(n+2) {
        padding-bottom: 4px;
      }
      i {
        color: $theme-green;
        margin-right: 14px;
      }
    }
  }

}
